<!--
<nav class="navbar navbar-expand-lg navbar-expand-md fixed-bottom bg-dark navbar-dark">
	<div id="NavbarSupportedContent" class="collapse navbar-collapse nav-head">
		<ul class="navbar-nav mx-auto">
			<li class="nav-item"><a class="nav-link" href="#">Mentions Légales</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Politique de confidentialité</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
		</ul>
	</div>
</nav>

-->

<script type="text/javascript">

	// Création du profil avec vérification de l'adresse mail si il existe déjà
	$('#inputSubmitFormCreateProfil').on('click', function(){

		var formFilled = true;
		var emptyField = "";
		$('.required').each(function() {
			if ($(this).is('select')) {
				 if ($(this).val() === null) {
 					formFilled = false;
          			emptyField = $(this).attr('name');
					return false;
				 }
			}else{
				if ($(this).val().length === 0) {
					formFilled = false;
					emptyField = $(this).attr('name');
					return false; // sortir de la boucle each si un champ est vide
				}
			}
		});

		if (!formFilled) {
			$('#confirm-submit').modal('hide');
			event.preventDefault();
			var errorMsg = "Veuillez remplir le champ '" + emptyField + "'";
			$('form').prepend('<div class="container"><div class="alert alert-danger">' + errorMsg + '</div></div>');
			
			$('html, body').animate({
				scrollTop: top
			}, 1000);

			setTimeout(function() {
				$('.alert-danger').fadeOut('slow', function() {
				$(this).remove();
				});
			}, 5000);
		}else{
			event.preventDefault();
			$.ajax({
				url: "{{ (path('ajax_check_profil')) }}",
				method: "POST",
				dataType : "json",
				data: { 
					'email': $('#email').val()
				},
			})
			.done(function(response){
				let data = JSON.stringify(response);
				if(data == "false"){
					document.getElementById('formCreateProfil').action = "{{ (path('app_profil_create_profil')) }}";
					var formulaire = document.getElementById('formCreateProfil');
					formulaire.setAttribute("target", "");
					$("#formCreateProfil").submit();
				}else{
					$('#confirm-submit').modal('toggle');
					$("#messageProfilExistant").html('Le profil "'+ $('#email').val() + '" existe déjà');
					$("#messageProfilExistant").show();
					$('html, body').animate({ 
						scrollTop: '0px' 
					});
				}
			});
			
		}
	});

	// Modification du profil
	$('#inputSubmitFormEditProfil').on('click', function(){
		var formFilled = true;
		var emptyField = "";
		$('.required').each(function() {
			if ($(this).is('select')) {
				 if ($(this).val() === null) {
 					formFilled = false;
          			emptyField = $(this).attr('name');
					return false;
				 }
			}else{
				if ($(this).val().length === 0) {
					formFilled = false;
					emptyField = $(this).attr('name');
					return false; // sortir de la boucle each si un champ est vide
				}
			}
		});

		if (!formFilled) {
			$('#confirm-submit').modal('hide');
			event.preventDefault();
			var errorMsg = "Veuillez remplir le champ '" + emptyField + "'";
			$('form').prepend('<div class="container"><div class="alert alert-danger">' + errorMsg + '</div></div>');
			
			$('html, body').animate({
				scrollTop: top
			}, 1000);

			setTimeout(function() {
				$('.alert-danger').fadeOut('slow', function() {
				$(this).remove();
				});
			}, 5000);
		}else{
			event.preventDefault();	
			document.getElementById('formEditProfil').action = "{{ (path('app_profil_edit_profil')) }}";
			var formulaire = document.getElementById('formEditProfil');
			formulaire.setAttribute("target", "");
			$("#formEditProfil").submit();	
		}
	});
	
	// Apercu du PDF sur la page de création
	$('#inputSubmitFormApercuPdf').on('click', function(){
		$.ajax({
			url: "{{ (path('ajax_check_profil')) }}",
			method: "POST",
        	dataType : "json",
			data: { 
				'email': $('#email').val()
    		},
		})
		.done(function(response){
			let data = JSON.stringify(response);
			if(data == "false"){ 
				document.getElementById('formCreateProfil').action = "{{ (path('app_profil_genererpdf')) }}";
				var formulaire = document.getElementById('formCreateProfil');
				formulaire.setAttribute("target", "_blank");
				$("#formCreateProfil").submit();
			}else{
				$("#messageProfilExistant").html('Le profil "'+ $('#email').val() + '" existe déjà');
				$("#messageProfilExistant").show();
				$('html, body').animate({ 
                     scrollTop: '0px' 
                });
			}
		});
	});

	// Apercu du PDF sur la page de modification
	$('#inputSubmitFormApercuPdfEdit').on('click', function(){		
		document.getElementById('formEditProfil').action = "{{ (path('app_profil_genererpdf')) }}";
		var formulaire = document.getElementById('formEditProfil');
		formulaire.setAttribute("target", "_blank");
		$("#formEditProfil").submit();			
	});


	let element = document.getElementById('navbarRobot');

	// Define a function that will be called when the user scrolls
	function handleScroll() {
	// Check how far the user has scrolled
	const scrollPosition = window.scrollY;

	// If the user has scrolled more than 100 pixels, apply the backdrop filter
	if (scrollPosition > 80) {
		element.style.backdropFilter = 'blur(0px) brightness(25%)';
		element.style.backgroundColor = 'transparent';
	} else {
		element.style.backdropFilter = 'none'; 
		element.style.backgroundColor = '#151a23';
	}
	}

	// Add an event listener to the window to detect when the user scrolls
	window.addEventListener('scroll', handleScroll);
	
</script>