{% extends 'base.html.twig' %}

{% block title %}Liste des profils{% endblock %}

{% block body %}
		<!-- Contenu de la page -->
		<div class="body">
				<div class="container" style="margin-top: 175px;">
				<select class="form-select float-start" style="width: 15%;" id="status-select">
					<option value="tous" selected>Tous</option>
					<option value="candidat">Candidat</option>
					<option value="collaborateur">Collaborateur</option>
				</select>
					<div class="form-group float-end mb-5">
						<input type="text" class="search form-control" placeholder="Rechercher">
					</div>
					<span class="counter pull-right"></span>
					<table class="table table-bordered results">
						<thead>
							<tr>
								<th class="col-md-1 col-xs-1">Localisation</th>
								<th class="col-md-2 col-xs-2">Nom</th>
								<th class="col-md-2 col-xs-2">Prénom</th>
								<th class="col-md-2 col-xs-2">Poste</th>
								<th class="col-md-5 col-xs-5">Compétences</th>
								<th hidden class="col-md-5 col-xs-5">Statut</th>
								<th class="col-md-3 col-xs-3">Action</th>
							</tr>
							<tr class="warning no-result">
								<td colspan="4"><i class="fa fa-warning"></i> Pas de résultats</td>
							</tr>
						</thead>
						<tbody>
							{% for candidat in candidats %}
								<tr>
									<td>{{ candidat.Localisation }}</td>
									<td>{{ candidat.Nom }}</td>
									<td>{{ candidat.Prenom }}</td>
									<td>{{ candidat.Poste }}</td>
									<td>{{ candidat.competence }}</td>
									<td hidden class="statut">{% if candidat.statut == 1 %}Collaborateur{% else %}Candidat{% endif %}</td>
									<td>
										<a href='{{ path('app_profil_edit', {id:  candidat.Id }) }}' title="Voir"><i class="fa-solid fa-eye" {% if candidat.marque == 1 %}style="color:#49656d" {% elseif candidat.marque == 2 %} style="color:#60547a"{% else %}style="color:#f9e958"{% endif %}></i></a>
										<a href='#' data-bs-toggle="modal" data-bs-target="#confirm-delete" data-candidat-id="{{ candidat.Id }}" title="Supprimer"><i class="fa-solid fa-xmark" style="color:red"></i></a>
									</td>
								</tr>
							 {% endfor %}
						</tbody>
					</table>
				</div>

				<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirm-submit" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-header">
								Suppression du profil
							</div>
							<div class="modal-body">
								
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-bs-dismiss="modal">Annuler</button>
								<a href="{{ path('app_profil_delete_profil', {id:  1 }) }}" class="btn btn-danger delete-btn">Supprimer</a>
							</div>
						</div>
					</div>
				</div>
		</div>
		<!-- Contenu de la page -->

		<!-- SCRIPT pour tableau -->

		<script type="text/javascript">
			$(document).ready(function() {
				$(".search").keyup(function () {
					var searchTerm = $(".search").val();
					var listItem = $('.results tbody').children('tr');
					var searchSplit = searchTerm.replace(/ /g, "'):containsi('")
					
				$.extend($.expr[':'], {'containsi': function(elem, i, match, array){
						return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
					}
				});
					
				$(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function(e){
					$(this).attr('visible','false');
				});

				$(".results tbody tr:containsi('" + searchSplit + "')").each(function(e){
					$(this).attr('visible','true');
				});

				var jobCount = $('.results tbody tr[visible="true"]').length;
					$('.counter').text(jobCount + ' profils');

				if(jobCount == '0') {$('.no-result').show();}
					else {$('.no-result').hide();}
						});
				});

				
				$('#confirm-delete').on('show.bs.modal', function (event) {
					var button = $(event.relatedTarget);
					var candidatId = button.attr('data-candidat-id');
					var modal = $('#confirm-delete');
					var deleteUrl = "/profil/delete/"+candidatId;
					modal.find('.modal-body').text("Voulez-vous supprimer ce profil ? ");
					document.querySelector('.delete-btn').setAttribute('href', deleteUrl);
				})



			document.getElementById("status-select").addEventListener("change", function() {
				var tableRows = document.querySelectorAll(".results tbody tr");

				if (this.value === "candidat") {
					
					tableRows.forEach(function(row) {
						if (row.querySelector(".statut").textContent === "Candidat") {
							row.style.display = "table-row";
						} else {
							row.style.display = "none";
						}
					});
				} else if (this.value === "collaborateur") {
					tableRows.forEach(function(row) {
						if (row.querySelector(".statut").textContent === "Collaborateur") {
							row.style.display = "table-row";
						} else {
							row.style.display = "none";
						}
					});
				}else{
					tableRows.forEach(function(row) {
						row.style.display = "table-row";	
					});
				}	
			});
		</script>
		<!-- SCRIPT pour tableau -->

	
	</body>
	<!-- Corps de la page -->
{% endblock %}